  <ion-header>
    <ion-toolbar class="ion-text-center">
      <ion-buttons slot="start">
        <ion-button>
          <ion-back-button></ion-back-button>
        </ion-button>
      </ion-buttons>

      <ion-title>Şifremi Unuttum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row justify-content-center>
      <ion-col size="auto">
        <h5 *ngIf="!emailIsSent" class="ion-text-center"> Üyeliğinize ait e-posta adresini girin. </h5>
        <h5 *ngIf="emailIsSent" class="ion-text-center">Şifrenizi değiştirebileceğiniz link e-posta adresinize
          gönderildi.
          E-posta içeriğindeki linke tıklayarak, yeni şifre oluşturabilirsiniz.</h5>
      </ion-col>
    </ion-row>

    <div class="ion-padding">
      <div class="input-item ion-margin-bottom" *ngIf="!emailIsSent">
        <ion-label position="stacked">E-Posta Adresi</ion-label>
        <ion-input [(ngModel)]="userInput" type="text" color="medium" (ionChange)="onEmailChange()"></ion-input>
        <ion-label *ngIf="!emailIsSent && userInputError" color="danger " class="ion-margin-top">*Boş Bırakılamaz.
        </ion-label>
      </div>


      <ion-button *ngIf="!emailIsSent" class="ion-margin-top" expand="block" color="success"
        (click)="onSendPasswordToEmail()" disabled="{{!isInputValid()}}">
        Gönder
      </ion-button>
      <ion-button *ngIf="emailIsSent" class="ion-margin-top" expand="block" color="success"
        (click)="navigate('/login')">
        Giriş Sayfasına Dön
      </ion-button>
    </div>

  </ion-content>