.logo {
  border-radius: 50%;
  max-width: 40px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.underlined-text {
  font-weight: bold;
  text-decoration: underline;
}