 
ion-item{
  --border-radius: 20px;
}

.no-margin-top{
  margin-top: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.no-margin{
  margin:0;
}

.blue-text{
  color: #4c8dff ;
}
.underlined-text{
  font-weight: bold;
  text-decoration: underline;
}
