<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Şifre Yenile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-top" justify-content-center>
    <ion-col size="auto">
      <h5 class="ion-text-center"> Emek Defterime ait yeni şifrenizi oluşturun.<br> Şifreniz 6-9 karakterden
        oluşmalıdır.
      </h5>
    </ion-col>
  </ion-row>

  <div class="ion-padding">

    <div class="input-item ion-margin-top" *ngIf="pageType =='normalchange'">
      <ion-label position="stacked">Eski Şifre :</ion-label>
      <ion-input type="password" [(ngModel)]="oldPassword" color="medium" (ionChange)="onCredentialsChange()">
      </ion-input>
      <ion-label color="danger" class="ion-margin-top" *ngIf="oldPasswordError">
        *Boş
        Bırakılamaz.
      </ion-label>
    </div>

    <div class="input-item ion-margin-top">
      <ion-label position="stacked">Yeni Şifre :</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" color="medium" (ionChange)="onCredentialsChange()">
      </ion-input>
      <ion-label color="danger" class="ion-margin-top" *ngIf="newPasswordError">
        *Boş
        Bırakılamaz.
      </ion-label>
    </div>

    <div class="input-item ion-margin-top">
      <ion-label position="stacked">Yeni Şifre Tekrar :</ion-label>
      <ion-input type="password" [(ngModel)]="newPasswordAgain" color="medium" (ionChange)="onCredentialsChange()">
      </ion-input>
      <ion-label color="danger" class="ion-margin-top" *ngIf="newPasswordAgainError">
        *Boş
        Bırakılamaz.
      </ion-label>
    </div>

    <ion-button class="ion-margin-top" expand="block" color="success" (click)="onChangePassword()">
      Onayla
    </ion-button>
  </div>
</ion-content>