<app-header [loginbutton]='false' [loadingBar]='false' [showLogo]='false' [title]='PageTitle'></app-header>
<ion-content>
  <div class="ion-padding-horizontal ion-padding-top">
    <ion-grid>
      <ion-row *ngIf="false">
        <ion-text class="ion-no-margin ion-text-center">
          <p class="ion-no-margin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam voluptate commodi
            rerum ipsum consequatur perferendis mollitia accusamus magnam nemo. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit.
            Fuga iste nesciunt quaerat voluptate, ut labore expedita illo blanditiis minus tenetur.
          </p>
        </ion-text>
      </ion-row>

      <ion-row *ngIf="false">
        <ion-col class="ion-no-padding">
          <div class="ion-text-center">
            <h5>Misyonumuz</h5>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="false">
        <ion-text class="ion-no-margin ion-text-center">
          <p class="ion-no-margin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam voluptate commodi
            rerum ipsum consequatur perferendis mollitia
          </p>
        </ion-text>
      </ion-row>

      <ion-row *ngIf="false">
        <ion-col class="ion-no-padding">
          <div class="ion-text-center">
            <h5>Vizyonumuz</h5>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="false">
        <ion-text class="ion-no-margin ion-text-center">
          <p class="ion-no-margin">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam voluptate commodi
            rerum ipsum consequatur perferendis mollitia
          </p>
        </ion-text>
      </ion-row>

      <ion-row class="ion-margin-top staff-elements" justify-content-around>
        <ion-col class="inline-item " size="auto">
          Hatalar ve sorularınız için :
        </ion-col>
        <ion-col class="inline-item" size="auto" *ngIf="false">
          Hassan dinger subai
        </ion-col>
        <ion-col class=" last-item" size="auto">
          tifdestek@proteksağlik.com
        </ion-col>
      </ion-row>

      <ion-row class="staff-elements ion-margin-top " justify-content-around>
        <ion-col class="inline-item " size="auto">
          Türk izcilik federasyon iletişim için :
        </ion-col>
        <ion-col class="inline-item" size="auto" *ngIf="false">
          Hassan dinger subai
        </ion-col>
        <ion-col class=" last-item" size="auto">
          alper@tif.org.tr
        </ion-col>
      </ion-row>



      <ion-row class="staff-elements ion-margin-top" justify-content-center>
        <ion-col class="inline-item " size="auto">
          Sürüm no :
        </ion-col>

        <ion-col class=" last-item" size="auto">
          {{ globalversion }}
        </ion-col>
      </ion-row>

      <ion-row class="staff-elements ion-margin-top" justify-content-center *ngIf="false">
        <ion-item href="https://docs.google.com/document/d/1OgUsu9lMSfeL2NdjMWNmWD1V9IIZ7glkz1LqMIBkMF8/edit">
          <ion-label>
            Kullanım Klavuzu
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row class="staff-elements ion-margin-top" justify-content-center *ngIf="false">
        <ion-col class="inline-item " size="auto">
          Credits
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>
</ion-content>

<app-footer></app-footer>