<app-header [loginbutton]='false' [loadingBar]='false' [showLogo]='false' [title]='PageTitle'></app-header>

<ion-content class="ion-padding-top">
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="tertiary" (click)="onSendNewMessage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list class="ion-no-padding" lines="full">
    <ion-item (click)="goToDetails(message.GroupID,message.GroupName,message.Subject)"
      *ngFor="let message of MessagesData" detail>
      <ion-avatar slot="start" class="ion-no-margin ion-margin-end">
        <img src="https://ui-avatars.com/api/?rounded=true">
      </ion-avatar>
      <ion-label class="ion-no-margin">
        <ion-row>
          <ion-col size="auto" class="ion-text-start ion-no-padding">
            <ion-text>
              <h2 class="ion-no-margin ">{{ message.Subject | uppercase }} </h2>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto" class="ion-text-start ion-no-padding">
            <ion-text class="ion-text-wrap">
              <h5 class="ion-no-margin ">{{ message.GroupName }} </h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto" class="ion-text-start ion-no-padding">
            <ion-text color="danger">
              <h4 class="no-margin">{{ message.CreatedTime | date :'d/M/yyyy , H:mm' }}</h4>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>